# Firebase Configuration for Rasa Diagnstic OS
VITE_FIREBASE_API_KEY=AIzaSyALTw057l1KxwQu0lNnErt9DpwV6dbjHQI
VITE_FIREBASE_AUTH_DOMAIN=rasa-diagnstic-os.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rasa-diagnstic-os
VITE_FIREBASE_STORAGE_BUCKET=rasa-diagnstic-os.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=977266563144
VITE_FIREBASE_APP_ID=1:977266563144:web:7945d3db620fdea783a07d
VITE_FIREBASE_APP_NAME="Rasa Diagnstic OS"
